<%= layout do %>
  <ul class="repo_header">
    <li class="repo_header__project_name">
      <%= render partial: "project_export_icon", locals: { project: @object_view.project } %>
      <%= @object_view.breadcrumb.project_root %>
    </li>
    <% @object_view.breadcrumb.each do |b| %>
      <li class="repo_header__separator">/</li>
      <li class="repo_header__breadcrumb"><%= b %></li>
    <% end %>
  </ul>

  <%= render @object_view %>
<% end %>
