<!DOCTYPE html>
<html>
  <head>
    <title>HomeRepos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="layout">
      <div class="layout__12">
        <ul class="masthead">
          <li><h1 class="masthead__title"><%= link_to("HomeRepos", root_path) %></h1></li>
          <% if logged_in? %>
            <li><%= link_to("Log out", session_path, method: :delete) %></li>
          <% else %>
            <li><%= link_to("Log in", new_session_path) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="layout">
      <div class="layout__12">
        <div class="flash_messages">
          <% flash.each do |name, msg| %>
            <%= msg %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="layout">
      <div class="layout__12">
        <div class="footer">
        </div>
      </div>
    </div>
  </body>
</html>
